.dialog-pane{
    -fx-border-color:white;
    -fx-border-width:2.0px;
}


.dialog-pane > .button-bar > .container {
    -fx-background-color:white;
    -fx-alignment: center;
}

.dialog-pane > .content{
    -fx-text-alignment: center;
}

.dialog-pane > .content.label {
    -fx-padding: 0.5em 0.5em 0.5em 0.5em;
    -fx-background-color: white;
    -fx-text-fill:black;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-font-size:15.0px;
}


.dialog-pane .button{
    -fx-background-color: #013a63;
    -fx-text-fill:white;
    -fx-font-weight: bold;
    -fx-wrap-text: true;
    -fx-cursor:hand;
}

.dialog-pane .button:hover{
    -fx-background-color: #0077B6;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.stackpane{
    -fx-background-color: white;
}
