.progress-bar {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-background-radius: 10px;
}

.progress-bar .bar {
    -fx-background-color: linear-gradient(to right, #d9ed92 0%, #ffd60a 81%);
    -fx-background-radius: 10px;
}

.progress-bar .track {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}